# Data and outputs
data/

# Virtual environments
venv/
.venv/

# Build artifacts
build/
*.egg-info/
*.pyc
__pycache__/
.pytest_cache/

# Editor configs
.vscode/

# Documentation
docs/build/*
docs/source/API/*
!docs/source/API/index.rst
