geopandas==1.0.1
hdbscan==0.8.40
joblib==1.5.0
matplotlib==3.10.5
numba==0.61.2
numpy==1.26.4
pandas==2.3.1
pyarrow==19.0.1
pydantic==2.11.7
pyproj==3.7.1
pytest==8.4.1
PyYAML==6.0.2
PyYAML==6.0.2
scikit_learn==1.7.1
scikit_learn_extra==0.3.0
scipy==1.16.1
seaborn==0.13.2
setuptools==59.6.0
Shapely==2.1.1
